<!DOCTYPE html>
<html>

<head>
    <title>Three Input Form</title>
</head>

<body>
    <h2>Enter Details</h2>
    <form action="/submit" method="POST">
        <label>load:</label>
        <input type="text" name="load" required><br><br>

        <label>load type:</label>
        <select name="type" required>
            <option value="" disabled selected>Select an option</option>
            <option value="Point Load">Point Load</option>
            <option value="UDL">UDL</option>
        </select><br><br>

        <label>length of beam:</label>
        <input type="text" name="length" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>